<#include "header.htm"/>

<script type="text/javascript" src="${jQueryURL}"></script>

<script type="text/javascript">
/* <![CDATA[ */
function resize()
{
	var h = document.form.thumbH.value;
	var w = document.form.thumbW.value;
	
	if ((h > 30 && h < 350) && (w > 30 && w < 350)){
		document.getElementById("avatarPreview").style.width = w + "px";                   
		document.getElementById("avatarPreview").style.height = h + "px";          
	}
}

function changeValue(field, value)
{
	var f = eval("document.form." + field)
	f.value = value;
	resize();
}

function testEmail()
{
	if ($("#address").val()) {
		$("#mailButton").val("${I18n.getMessage("Config.Form.SmtpTestSending")}...").attr("disabled", "disabled");

		var params = {
			sender: $("#sender").val(),
			host: $("#host").val(),
			port: $("#port").val(),
			auth: $("#auth").val(),
			ssl: $("#ssl").val(),
			username: $("#username").val(),
			password: $("#password").val(),
			to: $("#address").val(),
			additionalProperties: $("#additionalProperties").val()
		};

		$.ajax({
			type:"POST",
			url:"${JForumContext.encodeURL("/ajax/sendTestMail")}",
			data:params,
			dataType:"script",
			global:false
		});
	}
}
/* ]]> */
</script>

<form accept-charset="${encoding}" name="form" action="${JForumContext.encodeURL("/jforum")}" method="post">
<input type="hidden" name="action" value="editSave" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />

<table class="forumline" cellspacing="1" cellpadding="3" width="100%">
<tr>
	<th class="thhead" valign="middle" colspan="2">${I18n.getMessage("AdminConfig.Title")}</th>
</tr>

<!-- General Settings -->
<tr>
	<td class="catsides" colspan="2"><span class="gen"><b>${I18n.getMessage("Config.Form.General")}</b></span></td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ForumURL")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_forum.link" value="${config.getProperty("forum.link")?html}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.SiteURL")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_homepage.link" value="${config.getProperty("homepage.link")?html}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.forumName")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_forum.name" value="${config.getProperty("forum.name")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ForumPageTitle")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_forum.page.title" value="${config.getProperty("forum.page.title")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MetaTag.description")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_forum.page.metatag.description" value="${config.getProperty("forum.page.metatag.description")?html}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MetaTag.keywords")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_forum.page.metatag.keywords" value="${config.getProperty("forum.page.metatag.keywords")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.encoding")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_encoding" value="${config.getProperty("encoding")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.I18n")}</span></td>
	<td class="row1" width="38%">
		<span class="gen">
		<select name="p_i18n.board.default">
		<#list locales as l>
			<#assign selected = ""/>
			<#if l == config.getProperty("i18n.board.default")>
				<#assign selected = "selected=\"selected\""/>
			</#if>
			<option value="${l}" ${selected}>${l}</option>
		</#list>
		</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.TopicsPerPage")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_topicsPerPage" value="${config.getProperty("topicsPerPage")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.PostsPerPage")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_postsPerPage" value="${config.getProperty("postsPerPage")}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.UsersPerPage")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_usersPerPage" value="${config.getProperty("usersPerPage")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.HotTopicPercentViews")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_topic.hottest.percent.views" value="${config.getProperty("topic.hottest.percent.views")}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.HottestTopicsLimit")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_topic.hottest" value="${config.getProperty("topic.hottest")}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.TopDownloadsLimit")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_top.downloads" value="${config.getProperty("top.downloads")}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.postsNewDelay")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_posts.new.delay" value="${config.getProperty("posts.new.delay")}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.htmlTags")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_html.tags.welcome" value="${config.getProperty("html.tags.welcome")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.htmlAttributes")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_html.attributes.welcome" value="${config.getProperty("html.attributes.welcome")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.DisableRegistraion")}</span></td>
	<td class="row1" width="38%">
		<#assign o = config.getProperty("registration.enabled")/>
		<span class="gen">
			<select name="p_registration.enabled">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.EnableKarma")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("karma.show")/>
		<span class="gen">
			<select name="p_karma.show">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.EnableRSS")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("rss.enabled")/>
		<span class="gen">
			<select name="p_rss.enabled">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.EnableSocial")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("social.enabled")/>
		<span class="gen">
			<select name="p_social.enabled">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ListSharingSites")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="60" name="p_social.sites.list" value="${config.getProperty("social.sites.list")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ListBannerPages")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="60" name="p_banner.pages.list" value="${config.getProperty("banner.pages.list")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.DateFormat")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="30" name="p_dateTime.format" value="${config.getProperty("dateTime.format")?html}" /></span></td>
</tr>

<tr>
       <td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.PrettyTime")}</span></td>
	<td class="row2" width="38%">
               <#assign o = config.getProperty("dateTime.pretty")/>
		<span class="gen">
                       <select name="p_dateTime.pretty">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.Announcement")}</span></td>
	<td class="row1" width="38%"><span class="gen"><textarea rows="4" name="p_announcement">${config.getProperty("announcement")?html}</textarea></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ShowIP")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("show.ip")/>
		<span class="gen">
			<select name="p_show.ip">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ShowOnlineStatus")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("show.online.status")/>
		<span class="gen">
			<select name="p_show.online.status">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.PostsEditAfterReply")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("posts.edit.after.reply")/>
		<span class="gen">
			<select name="p_posts.edit.after.reply">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.IndexAttachments")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("lucene.index.attachments")/>
		<span class="gen">
			<select name="p_lucene.index.attachments">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.IndexLanguages")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="30" name="p_lucene.analyzer.stopwords" value="${config.getProperty("lucene.analyzer.stopwords")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.JQueryURL")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_jquery.url" value="${config.getProperty("jquery.url")?html}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.VersionCheck")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("version.check.enabled")/>
		<span class="gen">
			<select name="p_version.check.enabled">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<!-- Captcha -->
<tr>
	<td class="catsides" colspan="2"><span class="gen"><b>${I18n.getMessage("Config.Form.Captcha")}</b></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaDuringRegistration")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("captcha.registration")/>
		<span class="gen">
			<select name="p_captcha.registration">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>
  
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaEnablePosts")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("captcha.posts")/>
		<span class="gen">
			<select name="p_captcha.posts">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaEnableForAdminsAndModerators")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("captcha.admins.moderators")/>
		<span class="gen">
			<select name="p_captcha.admins.moderators">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaIgnoreCase")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("captcha.ignore.case")/>
		<span class="gen">
			<select name="p_captcha.ignore.case">
				<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
				<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			</select>
		</span>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaWidth")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.width" value="${config.getProperty("captcha.width")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaHeight")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.height" value="${config.getProperty("captcha.height")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaMinFontsize")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.min.font.size" value="${config.getProperty("captcha.min.font.size")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaMaxFontsize")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.max.font.size" value="${config.getProperty("captcha.max.font.size")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaMinWords")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.min.words" value="${config.getProperty("captcha.min.words")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.CaptchaMaxWords")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_captcha.max.words" value="${config.getProperty("captcha.max.words")}" /></span></td>
</tr>


<!-- Cache Settings -->
<tr>
	<td class="catsides" colspan="2"><span class="gen"><b>${I18n.getMessage("Config.Form.cacheSettings")}</b></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.topicCacheEnabled")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("topic.cache.enabled")/>
		<select name="p_topic.cache.enabled">
			<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
			<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
		</select>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.topicCacheSize")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_topic.cache.size" value="${config.getProperty("topic.cache.size")}" /></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.postsCacheEnabled")}</span></td>
	<td class="row2" width="38%">
		<#assign o = config.getProperty("posts.cache.enabled")/>
		<select name="p_posts.cache.enabled">
			<option value="true" <#if o == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
			<option value="false" <#if o == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
		</select>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.postsCacheSize")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_posts.cache.size" value="${config.getProperty("posts.cache.size")}" /></span></td>
</tr>

<!-- Avatar -->
<tr>
	<td class="catsides" colspan="2"><span class="gen"><b>${I18n.getMessage("Config.Form.avatar")}</b></span></td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.avatarSize")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_avatarMaxKbSize" value="${config.getProperty("avatarMaxKbSize")}" /></span></td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.avatarMaxWidth")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10"name="p_avatar.maxWidth" value="${config.getProperty("avatar.maxWidth")}" onchange="changeValue('thumbW', this.value)"/></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.avatarMaxHeight")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10"name="p_avatar.maxHeight" value="${config.getProperty("avatar.maxHeight")}" onchange="changeValue('thumbH', this.value)"/></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.avatarPreview")}</span></td>
	<td class="row2" width="38%">
		<input type="hidden" name="thumbH" value="${config.getProperty("avatar.maxHeight")}" />	
		<input type="hidden" name="thumbW" value="${config.getProperty("avatar.maxWidth")}" />
		<div id="avatarPreview" style="align:center; border:1px solid orange;">&nbsp;</div>
	</td>
</tr>

<!-- Mail -->
<tr>
	<td class="catsides" colspan="2"><span class="gen"><b>${I18n.getMessage("Config.Form.Mail")}</b></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.Charset")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="10" name="p_mail.charset" value="${config.getProperty("mail.charset")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.Sender")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.sender" id="sender" value="${config.getProperty("mail.sender")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MailHost")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.smtp.host" id="host" value="${config.getProperty("mail.smtp.host")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MailPort")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="10" name="p_mail.smtp.port" id="port" value="${config.getProperty("mail.smtp.port")}" /></span></td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.SmtpAuth")}</span></td>
	<td class="row1" width="38%">
		<select name="p_mail.smtp.auth" id="auth">
			<option value="false" <#if config.getProperty("mail.smtp.auth") == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			<option value="true" <#if config.getProperty("mail.smtp.auth") == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MailSSL")}</span></td>
	<td class="row1" width="38%">
		<select name="p_mail.smtp.ssl" id="ssl">
			<option value="false" <#if config.getProperty("mail.smtp.ssl") == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			<option value="true" <#if config.getProperty("mail.smtp.ssl") == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.SmtpUsername")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.smtp.username" id="username" value="${config.getProperty("mail.smtp.username")?html}" /></span></td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.SmtpPassword")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="password" name="p_mail.smtp.password" id="password" value="${config.getProperty("mail.smtp.password")?html}" autocomplete="off" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.SmtpExtraParameters")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.smtp.additional.properties" id="additionalProperties" value="${config.getProperty("mail.smtp.additional.properties")?html}" /></span></td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen"><font color="green">${I18n.getMessage("Config.Form.SmtpTest")}</font></span></td>
	<td class="row1" width="38%">
		<span class="gen">E-mail: </span> <input type="text" id="address" size="30"/>&nbsp;
		<input type="button" value="${I18n.getMessage("Config.Form.SmtpTest")}" class="mainoption" id="mailButton" onclick="testEmail();" />
	</td>
</tr>
<!-- Topic answer -->

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.AnswerFile")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.newAnswer.messageFile" value="${config.getProperty("mail.newAnswer.messageFile")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.AnswerSubject")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.newAnswer.subject" value="${config.getProperty("mail.newAnswer.subject")?html}" /></span></td>
</tr>

<!-- Private Message -->
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.PmAnswerFile")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.newPm.messageFile" value="${config.getProperty("mail.newPm.messageFile")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.PmAnswerSubject")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.newPm.subject" value="${config.getProperty("mail.newPm.subject")?html}" /></span></td>
</tr>

<!-- Activation -->
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ActivationAnswerFile")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.activationKey.messageFile" value="${config.getProperty("mail.activationKey.messageFile")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.ActivationAnswerSubject")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.activationKey.subject" value="${config.getProperty("mail.activationKey.subject")?html}" /></span></td>
</tr>

<!-- Lost Password -->
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.LostPasswordFile")}</span></td>
	<td class="row1" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.lostPassword.messageFile" value="${config.getProperty("mail.lostPassword.messageFile")?html}" /></span></td>
</tr>
<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.LostPasswordSubject")}</span></td>
	<td class="row2" width="38%"><span class="gen"><input type="text" size="50" name="p_mail.lostPassword.subject" value="${config.getProperty("mail.lostPassword.subject")?html}" /></span></td>
</tr>

<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.MessageFormat")}</span></td>
	<td class="row1" width="38%">
		<select name="p_mail.messageFormat">
			<option value="text" <#if config.getProperty("mail.messageFormat") == "text">selected="selected"</#if>>Text</option>
			<option value="html" <#if config.getProperty("mail.messageFormat") == "html">selected="selected"</#if>>HTML</option>
		</select>
	</td>
</tr>

<tr>
	<td class="row2" width="38%"><span class="gen">${I18n.getMessage("Config.Form.EmailNotifyAnswers")}</span></td>
	<td class="row2" width="38%">
		<select name="p_mail.notify.answers">
			<option value="false" <#if config.getProperty("mail.notify.answers") == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			<option value="true" <#if config.getProperty("mail.notify.answers") == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
		</select>
	</td>
</tr>
<tr>
	<td class="row1" width="38%"><span class="gen">${I18n.getMessage("Config.Form.UserEmailAuth")}</span></td>
	<td class="row1" width="38%">
		<select name="p_mail.user.email.auth">
			<option value="false" <#if config.getProperty("mail.user.email.auth") == "false">selected="selected"</#if>>${I18n.getMessage("False")}</option>
			<option value="true" <#if config.getProperty("mail.user.email.auth") == "true">selected="selected"</#if>>${I18n.getMessage("True")}</option>
		</select>
	</td>
</tr>

<tr>
	<td class="catsides" colspan="2" align="center"><input type="submit" value="${I18n.getMessage("Update")}" class="mainoption" />
	</td>
</tr>

</table>
</form>
<script type="text/javascript">resize();</script>

<#include "bottom.htm"/>
