<#include "header.htm"/>
<#import "../../macros/pagination.ftl" as pagination>

<div class="maintitle">${pageTitle?default(I18n.getMessage("ForumBase.recentTopics"))?html}</div>
<p>
<#list topics as topic>
	<div class="subject">
		<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}"><#if (topic.title?length == 0)>&mdash;&mdash;&mdash;<#else>${topic.title?html}</#if><#if topic.type == TOPIC_WIKI> (Wiki)</#if></a>
	</div>
	<div class="mobilePostText">
		${I18n.getMessage("ForumIndex.answers")}: <#if topic.type == TOPIC_WIKI>W<#else>${topic.totalReplies}</#if><br />
		${I18n.getMessage("ForumIndex.author")}: <a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username?html}</a><br />
		${I18n.getMessage("ForumIndex.lastMessage")}: <#if topic.type == TOPIC_WIKI>${topic.lastEditTimeStr}<#else>${topic.lastPostTime}</#if>
		${I18n.getMessage("Search.postedBy")} <a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username?html}</a><br />
		${I18n.getMessage("Search.forum")}: <a class="postdetails" href="${JForumContext.encodeURL("/forums/show/${topic.forumId}")}">${forums.get(topic_index).getName()}</a>
	</div>
	<br />
</#list>

<@pagination.doPagination "list" /><br />

<#include "bottom.htm"/>
