<#include "header.htm"/>
<script type="text/javascript">
<#include "../js/utils.js"/>
</script>

<br>
<div class="subject">
	${I18n.getMessage("UserProfile.profileFor")} <b>${u.username}</b>, # ${u.id} <br>
</div>
<div class="mobilePostText">
	<#assign rankStr = rank.getRankTitle(u.rankId, u.totalPosts)/>
	<#if rankStr?trim != "">${I18n.getMessage("PostShow.ranking")}: ${rankStr}<br></#if>
	${I18n.getMessage("UserProfile.registrationDate")}: ${u.registrationDay}<br>
	${I18n.getMessage("UserProfile.totalMessages")}:
	<#if (nposts > 0)>
		<a class="gen" href="${JForumContext.encodeURL("/posts/listByUser/${u.id}")}"> ${nposts} </a><br>
	<#else>
		${I18n.getMessage("PostShow.noUserCreatedPosts")}<br>
	</#if>
	${I18n.getMessage("ForumListing.userCreatedTopics")}:
	<#if (ntopics > 0)>
		<a class="gen" href="${JForumContext.encodeURL("/recentTopics/showTopicsByUser/${u.id}")}"> ${ntopics} </a><br>
	<#else>
		${I18n.getMessage("ForumListing.noUserCreatedTopics")}<br>
	</#if>
	<#if (!u.deleted && (ntopics > 0 || nposts > 0)) || (viewFullProfile!false)>
		<br>
		<#if (u.from?exists && u.from?length > 0)>
			${I18n.getMessage("UserProfile.from")}: ${u.from?html}<br>
		</#if>
		<#if (u.webSite?exists && u.webSite?length > 0)>
			${I18n.getMessage("UserProfile.webSite")}: <a href="${u.webSite?html}" target="_new">${u.webSite}</a><br>
		</#if>
		<#if (u.occupation?exists && u.occupation?length > 0)>
			${I18n.getMessage("UserProfile.occupation")}: ${u.occupation?html}<br>
		</#if>
		<#if (u.interests?exists && u.interests?length > 0)>
			${I18n.getMessage("UserProfile.interests")}: ${u.interests?html}<br>
		</#if>
		<#if (u.biography?exists && u.biography?length > 0)>
			${I18n.getMessage("UserProfile.biography")}: ${u.biography?html}<br>
		</#if>
	</#if>
	<#if bookmarksEnabled && (nbookmarks > 0)>
		${I18n.getMessage("Permissions.bookmarks")}: <a class="gen" href="${JForumContext.encodeURL("/bookmarks/list/${u.id}")}"> ${nbookmarks} </a><br>
	</#if>
</div>

<br>
<div class="subject">
	<b>${I18n.getMessage("UserProfile.contact")} ${u.username}</b><br>
</div>
<div class="mobilePostText">
	<#if (u.isViewEmailEnabled() && u.email?exists && u.email?length > 0)>
	<table><tr>
		<td valign="middle" nowrap="nowrap" align="right"><span class="gen">${I18n.getMessage("UserProfile.emailAddress")}:</span></td>
		<td class="row1" valign="middle" width="100%">
			<b><span class="gen">
			<#assign e = u.email.split("@")/>
			<a href="#" onclick="document.location.href = 'mailto:' + showEmail('${e[0]?default("")?html}', '${e[1]?default("")?html}'); return false;"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" alt="email" /></a>
			</span></b>
		<#if (isModerator || isAdmin) >
			<a class="gen" href="${stopForumSpamURL}${u.email?default("")?html}" target="_new"> (${I18n.getMessage("SearchStats.check")} StopForumSpam)</a>
		</#if>
		</td>
	</tr></table>
	</#if>
	${I18n.getMessage("UserProfile.privateMessage")}: <a href="${JForumContext.encodeURL("/pm/sendTo/${u.id}")}" class="icon_pm"><img src="${contextPath}/images/transp.gif" alt="" /></a><br>
	<#if (u.twitter?exists && u.twitter?length > 0)>
		${I18n.getMessage("User.twitter")}: <a href="https://twitter.com/${u.twitter?html}" target="_new">@${u.twitter}</a><br>
	</#if>
	<#if (u.icq?exists && u.icq?length > 0)>
		${I18n.getMessage("User.icq")}: ${u.icq?html}<br>
	</#if>
	<#if (u.skype?exists && u.skype?length > 0)>
		${I18n.getMessage("User.skype")}: ${u.skype?html}<br>
	</#if>
</div>

<#include "bottom.htm"/>
