<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination/>
<#import "../macros/presentation.ftl" as presentation/>
<script type="text/javascript" src="${jQueryURL}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>

<#if bannerPages?contains("forum")>
	<#assign position = 0 />
	<#include "banner.htm"/>
</#if>

<#if logged>
	<script type="text/javascript">
		var watchURL = "${JForumContext.encodeURL("/forums/watchForum/${forum.id}")}";
		var unwatchURL = "${JForumContext.encodeURL("/forums/unwatchForum/${forum.id}")}";
		var unwatchHandler = function() { turnOn=false; toggleWatch(); return false; };
		var watchHandler = function() { turnOn=true; toggleWatch(); return false; };
		var turnOn;

		function toggleWatch () {
			$.ajax({
				url: turnOn ? watchURL : unwatchURL,
				type: 'POST',
				dataType: 'json',
				headers: {'OWASP_CSRFTOKEN': '${OWASP_CSRFTOKEN!""}'},
				success: function (data) {
					alert(data.message);
					if (turnOn) {
						$(".toggleWatchLink")[0].href = unwatchURL;
						$(".toggleWatchLink")[0].onclick = unwatchHandler;
						$("#toggleWatchLinkID")[0].innerHTML = '<img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" alt="Unwatch" />&nbsp;${I18n.getMessage("ForumShow.unwatch")}';
					} else {
						$(".toggleWatchLink")[0].href = watchURL;
						$(".toggleWatchLink")[0].onclick = watchHandler;
						$("#toggleWatchLinkID")[0].innerHTML = '<img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" alt="Watch" />&nbsp;${I18n.getMessage("ForumShow.watch")}';
					}
				}
			});
		}
	</script>
</#if>

<#if moderator>
	<script type="text/javascript" src="${JForumContext.encodeURL("/js/list/moderation")}"></script>
</#if>

<table cellspacing="0" cellpadding="10" width="100%" align="center">
	<tr>
		<td class="bodyline" valign="top">
			<table cellspacing="2" cellpadding="2" width="100%" align="center">
				<tr>
					<td valign="bottom" align="left" colspan="2">
						<a class="maintitle" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;
						<a class="maintitle" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a>

						<#if rssEnabled>
							<a href="${JForumContext.encodeURL("/rss/forumTopics/${forum.id}")}"><img src="${contextPath}/templates/${templateName}/images/xml_button.gif" alt="RSS feed" title="RSS feed" /></a>
							<br />
						</#if>
					</td>

					<td valign="middle" nowrap="nowrap" align="right" class="gensmall">
						<#if logged>
							<a href="${JForumContext.encodeURL("/forums/readAll/${forum.id}")}">${I18n.getMessage("ForumIndex.setAllTopicsAsRead")}</a>
						</#if>

						<#if moderator>
							<br />

							<#if openModeration?default(false)>
								<#assign link = ""/>
								<#if (start > 0)>
									<#assign link = JForumContext.encodeURL("/forums/show/" + start + "/" + forum.id)/>
								<#else>
									<#assign link = JForumContext.encodeURL("/forums/show/" + forum.id)/>
								</#if>
								<a href="${link}">${I18n.getMessage("Moderation.CloseModeration")}</a>
							<#else>
								<a href="${contextPath}/forums/moderation/<#if (start > 0)>${start}/</#if>${forum.id}${extension}">${I18n.getMessage("Moderation.OpenModeration")}</a>
							</#if>
						</#if>
					</td>
				</tr>
			</table>

			<table cellspacing="2" cellpadding="2" width="100%" align="center">
				<tr>
						<td valign="middle" align="left" width="50">
              <#if readonly>
              <span class="icon_reply_locked"><img src="${contextPath}/images/transp.gif" alt="" /></span>
              <#elseif !readonly && !replyOnly>
							<a href="${JForumContext.encodeURL("/posts/insert/${forum.id}")}" rel="nofollow" class="icon_new_topic"><img src="${contextPath}/images/transp.gif" alt="" /></a>              
              </#if>
						</td>

            <td class="nav" valign="middle" align="left">
				<form accept-charset="${encoding}" action="${JForumContext.encodeURL("/jforum")}" method="get" id="formSearch" name="formSearch" style="margin: 0px; padding: 0px;">
                <input type="hidden" name="module" value="search"/>
                <input type="hidden" name="action" value="search"/>
                <input type="hidden" name="search_forum" value="${forum.id}" />
                <input type="hidden" name="match_type" value="all" />
				<input type="text" onblur="if (this.value == '') this.value = '${I18n.getMessage("ForumIndex.searchThisForum")}...';" onclick="if (this.value == '${I18n.getMessage("ForumIndex.searchThisForum")}...') this.value = '';" value="${I18n.getMessage("ForumIndex.searchThisForum")}..." size="20" name="search_keywords" class="inputSearchForum"/>
				<input type="submit" value="${I18n.getMessage("ForumBase.search")}" class="liteoption" />
				</form>
            </td>
            <td class="nav" nowrap="nowrap" align="right">
		  				<#assign paginationData><@pagination.doPagination action, forum.id/></#assign>
						${paginationData}
            </td>
				</tr>
			</table>

			<#if (canApproveMessages && topicsToApprove.size() > 0)>
				<script type="text/javascript">
				/* <![CDATA[ */
				function viewPending(id)
				{
					var tr = document.getElementById("tr_pending_" + id);
					var d = tr.style.display
					tr.style.display = (d == "none" ? "" : "none");
				}
				/* ]]> */
				</script>
				<form action="${JForumContext.encodeURL("/jforum")}" method="post" accept-charset="${encoding}" style="margin: 0px; padding: 0px;">
				<input type="hidden" name="action" value="approveMessages" />
				<input type="hidden" name="module" value="${moduleName}" />
				<input type="hidden" name="forum_id" value="${forum.id}" />
                <input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />
				<table width="70%" class="forumline" align="center" cellspacing="1" cellpadding="4">
					<tr>
						<td class="bg_yellow" align="center" style="height: 30px" colspan="2"><span class="gensmal" style="font-size: 11px; "><b>${I18n.getMessage("Moderation.checkQueue")}</b></span></td>
					</tr>

					<#list topicsToApprove.values() as topic>
						<#if topic_index % 2 == 0>
							<#assign rowColor = "">
						<#else>
							<#assign rowColor = "bg_small_yellow">
						</#if>

						<tr class="${rowColor}">
							<td width="90%">
								<#if (topic.topicReplies > 0)>
									<a href="${JForumContext.encodeURL("/posts/list/${topic.topicId}")}" class="gen">${topic.topicTitle?html}</a>
								<#else>
									<span class="gen">${topic.topicTitle?html}</span>
								</#if>
							</td>
							<td align="center"><span class="gen"><a href="javascript:viewPending(${topic.topicId});"><b>${I18n.getMessage("Moderation.Admin.view")}</b></a></span></td>
						</tr>

						<!-- Messages -->
						<tr id="tr_pending_${topic.topicId}" style="display: none">
							<td colspan="2">
								<table width="95%" align="right">
									<#list topic.posts as post>
										<#assign post = postFormatter.preparePostForDisplay(post)/>

										<tr><td><span class="gensmall"><b>${I18n.getMessage("PostShow.author")}</b>: <a href="${JForumContext.encodeURL("/user/profile/${post.userId}")}">${post.postUsername}</a></span></td></tr>
										<tr><td><span class="gensmall">${post.text}</span></td></tr>

										<tr>
											<td colspan="2" align="right">
												<span class="gensmall">
													<input type="radio" id="status_approve_${post.id}" name="status_${post.id}" value="aprove" /><label for="status_approve_${post.id}">${I18n.getMessage("Moderation.Admin.aprove")}</label>&nbsp;
													<input type="radio" id="status_defer_${post.id}" name="status_${post.id}" value="defer" checked="checked" /><label for="status_defer_${post.id}">${I18n.getMessage("Moderation.Admin.defer")}</label>&nbsp;
													<input type="radio" id="status_deny_${post.id}" name="status_${post.id}" value="reject" /><label for="status_deny_${post.id}">${I18n.getMessage("Moderation.Admin.reject")}</label>&nbsp;
													<input type="hidden" name="post_id" value="${post.id}" />
												</span>
											</td>
										</tr>

										<#if (post_index + 1 < topic.posts.size())>
											<tr>
												<td colspan="2" class="spacerow"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" alt="" width="1" /></td>
											</tr>
										</#if>
									</#list>
								</table>
							</td>
						</tr>
					</#list>

					<!-- Submit -->
					<tr>
						<td colspan="2" align="center"><input type="submit" class="mainoption" value="${I18n.getMessage("Moderation.Admin.submit")}" /></td></tr>
					</tr>
				</table>
				</form>
			</#if>

			<#if moderator>
				<form action="${JForumContext.encodeURL("/jforum")}" method="post" name="formModeration" id="formModeration" accept-charset="${encoding}" style="margin: 0px; padding: 0px;">
				<input type="hidden" name="action" value="doModeration" />
				<input type="hidden" name="module" value="moderation" />
				<input type="hidden" name="returnUrl" value="${JForumContext.encodeURL("/${moduleName}/${action}/${start}/${forum.id}")}" />
				<input type="hidden" name="forum_id" value="${forum.id}" />
				<input type="hidden" name="log_type" value="0"/>
				<input type="hidden" name="log_description" />
				 <input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />
			</#if>

			<table class="forumline" cellspacing="1" cellpadding="4" width="100%">
				<tr>
					<th class="thcornerl" nowrap="nowrap" align="center" colspan="2">&nbsp;${I18n.getMessage("ForumIndex.topics")}&nbsp;</th>
					<th class="thtop" nowrap="nowrap" align="center" width="50">&nbsp;${I18n.getMessage("ForumIndex.answers")}&nbsp;</th>
					<th class="thtop" nowrap="nowrap" align="center" width="100">&nbsp;${I18n.getMessage("ForumIndex.author")}&nbsp;</th>
					<th class="thtop" nowrap="nowrap" align="center" width="50">&nbsp;${I18n.getMessage("ForumIndex.views")}&nbsp;</th>
					<th class="thcornerr" nowrap="nowrap" align="center">&nbsp;${I18n.getMessage("ForumIndex.lastMessage")}&nbsp;</th>

					<#if moderator && openModeration?default(false)>
						<th class="thcornerr" nowrap="nowrap" align="center">&nbsp;${I18n.getMessage("ForumIndex.moderation")}&nbsp;</th>
					</#if>
				</tr>

				<!-- TOPICS LISTING -->
				<#list topics as topic>
					<#assign class1>class="<@presentation.row1Class topic/>"</#assign>
					<#assign class2>class="<@presentation.row2Class topic/>"</#assign>
					<#assign class3>class="<@presentation.row3Class topic/>"</#assign>

					<#if canApproveMessages>
						<#if topicsToApprove.containsKey(topic.id)>
							<#assign class1 = "class='bg_yellow'"/>
							<#assign class2 = class1/>
							<#assign class3 = class1/>
						</#if>
					</#if>

					<tr class="bg_small_yellow">
						<td ${class1} valign="middle" align="center" width="20"><@presentation.folderImage topic/></td>
						<td ${class1} width="100%">
							<#if topic.hasAttach() && attachmentsEnabled><img src="${contextPath}/templates/${templateName}/images/icon_clip.gif" align="middle" alt="[Clip]" /></#if>
							<span class="topictitle">
							<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}">
							<#if topic.vote>${I18n.getMessage("ForumListing.pollLabel")}</#if>
							<#if (topic.title?length == 0)>
								No Subject
							<#else>
								${topic.title?html}
							</#if>
							</a>
							</span>

							<#if topic.paginate>
								<span class="gensmall">
								<br />
								<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>
								</span>
							</#if>
						</td>

						<td ${class2} valign="middle" align="center"><span class="postdetails"><#if topic.type == TOPIC_WIKI>W<#else>${topic.totalReplies}</#if></span></td>
						<td ${class3} valign="middle" nowrap="nowrap" align="center">
                                                       <span class="name">${topic.firstPostTime}<br />
							<a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username}</a></span>
						</td>

						<td ${class2} valign="middle" align="center"><span class="postdetails">${topic.totalViews}</span></td>
						<td ${class3} valign="middle" nowrap="nowrap" align="center">
							<#if (topic.lastPostTime?length > 0)>
								<span class="name">
								<#if topic.type == TOPIC_WIKI>
									${topic.lastEditTimeStr}
									<br />
								<#else>
									${topic.lastPostTime}
									<br /><a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username}</a>
								</#if>
								<#assign startPage = ""/>
								<#if (topic.totalReplies + 1 > postsPerPage?number)>
									<#assign startPage = ((topic.totalReplies / postsPerPage?number)?int * postsPerPage?number) +"/"/>
								</#if>

								<a href="${JForumContext.encodeURL("/posts/list/${startPage}${topic.id}")}#p${topic.lastPostId}"><img src="${contextPath}/templates/${templateName}/images/icon_latest_reply.gif" alt="[Latest Reply]" /></a></span>
							</#if>
						</td>

						<#if moderator && openModeration?default(false)>
							<td ${class2} valign="middle" align="center">
								<input type="checkbox" <#if topic.movedId != 0 && topic.forumId != forum.id>disabled="disabled"</#if> name="topic_id" value="${topic.id}" onclick="changeTrClass(this, ${topic_index});"/>
							</td>
						</#if>
					</tr>
				</#list>
				<!-- END OF TOPICS LISTING -->

				<tr align="center">
					<td class="catbottom" valign="middle" align="right" colspan="<#if moderator && openModeration?default(false)>7<#else>6</#if>">
						<table cellspacing="0" cellpadding="0">
							<tr>
								<td align="center"><span class="gensmall">&nbsp;<@presentation.moderationButtons/></span></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<#if moderator></form></#if>

			<table cellspacing="2" cellpadding="2" width="100%" align="center">
				<tr>
					<#if !readonly && !replyOnly>
						<td valign="middle" align="left" width="50">
							<a href="${JForumContext.encodeURL("/posts/insert/${forum.id}")}" rel="nofollow" class="icon_new_topic"><img src="${contextPath}/images/transp.gif" alt="" /></a>
						</td>
					<#else>
						<#assign colspan = "2"/>
					</#if>
					<td valign="middle" align="left" colspan="${colspan?default("0")}">
						<span class="nav">
						<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;  <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a></span>
					</td>
					<td nowrap="nowrap" align="right" class="nav">${paginationData}</td>
				</tr>
				<tr>
					<td align="left" colspan="3"><span class="nav">&nbsp;</span></td>
				</tr>
			</table>

			<table cellspacing="0" cellpadding="5" width="100%">
				<tr>
					<td align="left" class="gensmall">
						<#if logged>
							<#if !watching>
								<a class="toggleWatchLink" id="toggleWatchLinkID" href="${JForumContext.encodeURL("/forums/watchForum/${forum.id}")}"
									onClick="turnOn=true; toggleWatch(); return false">
									<img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" alt="Watch" />&nbsp;${I18n.getMessage("ForumShow.watch")}</a>
							<#else>
								<a class="toggleWatchLink" id="toggleWatchLinkID" href="${JForumContext.encodeURL("/forums/unwatchForum/${forum.id}")}"
									onClick="turnOn=false; toggleWatch(); return false">
									<img src="${contextPath}/templates/${templateName}/images/watch.gif" align="middle" alt="Unwatch" />&nbsp;${I18n.getMessage("ForumShow.unwatch")}</a>
							</#if>
						</#if>
					</td>
					<td align="right"><@presentation.forumsComboTable/></td>
				</tr>
			</table>

			<table cellspacing="0" cellpadding="0" width="100%" align="center">
				<tr>
					<td valign="top" align="left">
						<#include "folder_descriptions.htm"/>
					</td>

					<#assign moderators = forum.getModeratorList()/>
					<#if (moderators.size() > 0)>
						<td align="right" class="gensmall">
							${I18n.getMessage("ForumIndex.forumAdmins")}:
							<b><#list moderators as m>
							<a href="${JForumContext.encodeURL("/user/profile/${m.id}")}">${m.name?html}</a>
							</#list></b>
						</td>
					</#if>
				</tr>
			</table>

			<#if bannerPages?contains("forum")>
				<#assign position = 3 />
				<#include "banner.htm"/>
			</#if>
		</td>
	</tr>
</table>

<#include "bottom.htm"/>
