<table cellspacing="0" cellpadding="0" width="100%">
<tr>
	<td valign="middle" nowrap="nowrap"> 
		<a href="${JForumContext.encodeURL("/user/profile/${user.id}")}" class="icon_profile"><img src="${contextPath}/images/transp.gif" alt="" /></a>
		<a href="${JForumContext.encodeURL("/pm/sendTo/${user.id}")}" class="icon_pm"><img src="${contextPath}/images/transp.gif" alt="" /></a>
		<#if (user.isViewEmailEnabled() && user.email?exists && user.email?length > 0)>
			<#assign e = user.email.split("@")/>

			<#if e?size == 2>
				<a href="#" onclick="sendEmail('${e[0]}', '${e[1]}'); return false;"><img src="${contextPath}/templates/${templateName}/images/icon_email.gif" alt="[Email]" /></a>
			</#if>
		</#if>
		<#if (user.webSite?exists && user.webSite?length > 0)>
			<a href="${user.webSite?html}" target="_blank"><img src="${contextPath}/templates/${templateName}/images/icon_www.gif" alt="[WWW]"/></a>
		</#if>
		<#if (user.icq?exists && user.icq?length > 0)>
			<a href="http://wwp.icq.com/scripts/search.dll?to=${user.icq?html}" target="_blank"><img src="${contextPath}/templates/${templateName}/images/icon_icq_add.gif" alt="[ICQ]" /></a>
		</#if>
		<#if (user.skype?exists && user.skype?length > 0)>
			<a href="skype:${user.skype}")}" target="_blank"><img src="${contextPath}/templates/${templateName}/images/icon_skype.png" alt="[Skype]"/></a>
		</#if>
		<#if (user.twitter?exists && user.twitter?length > 0)>
			<a href="https://twitter.com/${user.twitter?html}" target="_blank"><img src="${contextPath}/templates/${templateName}/images/icon_twitter.jpg" alt="[Twitter]" /></a>
		</#if>
	</td>
	<#if karmaEnabled && post.userId != session.userId && logged>
		<td align="right">
		<#if !karmaVotes.containsKey(post.id)>
			<script type="text/javascript">karmaPointsCombo(${post.id})</script>
		<#else>
			<span class="gensmall">${I18n.getMessage("Karma.yourRate")}: ${karmaVotes.get(post.id)}</span>
		</#if>
		</td>
	</#if>
</tr>
</table>
