<#include "header.htm"/>
<#assign preview = preview?default(false)/>
<#assign logModeration = moderationLoggingEnabled && isEdit?default(false) && isModerator && user.id != post.userId/>
<#assign allowPoll = setType?default(true) && canCreatePolls?default(false)/>
<#assign isNewPost = isNewPost?exists && isNewPost/>
<#assign isEdit = isEdit?if_exists/>
<#assign isNewTopic = (!topic?exists || topic.id == -1)/>
<script type="text/javascript">
/* <![CDATA[ */
var CONTEXTPATH = "${contextPath}";
var SERVLET_EXTENSION = "${extension}";
/* ]]> */
</script>

<script type="text/javascript" src="${jQueryURL}"></script>
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/post.js?${startupTime}"></script>

<script type="text/javascript">
/* <![CDATA[ */
<#include "js/bbcode_help.js"/>
<#include "js/utils.js"/>
<#include "js/attachments.js"/>

<#if needCaptcha?default(false)>
// disable submit button first and enable it after captcha img full loaded
$(document).ready(function() {
	$("#btnSubmit").attr("disabled", "true");
	$('#captcha_img').load(function() {
		if ($(this).height() == 75) { // captcha.height = 75
			$("#btnSubmit").removeAttr("disabled");
		}
	});
});
</#if>

function newCaptcha()
{
	$("#btnSubmit").attr("disabled", "true");
	$("#captcha_img").attr("src", "${JForumContext.encodeURL("/captcha/generate")}?timestamp="+new Date().getTime());
}

function enableSubmit(cap)
{
	if (cap.value.length > 2) {
		$("#btnSubmit").removeAttr("disabled");
	}
}

function validatePostForm(f)
{
	<#if setType?default(true)>
	if (f.subject.value == "") {
		alert("${I18n.getMessage("PostForm.subjectEmpty")}");
		f.subject.focus();

		return false;
	}
	</#if>

	if (f.message.value.replace(/^\s*|\s*$/g, "").length == 0) {
		alert("${I18n.getMessage("PostForm.textEmpty")}");
		f.message.focus();

		return false;
	}

	<#if !forum?exists>
	if (f.toUsername.value == "") {
		alert("${I18n.getMessage("PrivateMessage.toUserIsEmpy")}");
		f.toUsername.focus();

		return false;
	}
	</#if>

	<#if logModeration>
	if (f.log_description.value == "") {
		alert("${I18n.getMessage("ModerationLog.reasonIsEmpty")}");
		f.log_description.focus();

		return false;
	}
	</#if>

	$("#icon_saving").css("display", "inline");
	$("#btnPreview").attr("disabled", "true");
	$("#btnSubmit").attr("disabled", "true").val("${I18n.getMessage("PostForm.saving")}...");
	$("#btnCancel").attr("disabled", "true");

	return true;
}

function openFindUserWindow()
{
	var w = window.open("${JForumContext.encodeURL("/pm/findUser")}", "_findUser", "height=250,resizable=yes,width=400");
	w.focus();
}

function smiliePopup()
{
	var w = window.open("${JForumContext.encodeURL("/posts/listSmilies")}", "smilies", "width=300, height=300, toolbars=no, scrollbars=yes");
	w.focus();
}

function cancelOperation()
{
	<#if forum?exists>
		<#if isNewTopic>
	document.location.replace('${contextPath}/forums/show/${forum.id}${extension}');
		<#elseif isEdit>
	document.location.replace('${contextPath}/posts/list/${start?default("0")}/${topic.id}${extension}');
		<#elseif !isNewTopic>
	document.location.replace('${contextPath}/posts/list/${topic.id}${extension}');
		</#if>
	<#else>
	document.location.replace('${contextPath}/pm/inbox${extension}');
	</#if>
}
/* ]]> */
</script>

<#assign preview = preview?exists && preview/>
<#assign attachmentsEnabled = attachmentsEnabled?exists && attachmentsEnabled/>

<#if !maxAttachments?exists>
	<#assign maxAttachments = 0/>
</#if>

<#assign htmlChecked = "checked=\"checked\""/>
<#assign bbChecked = ""/>
<#assign signatureChecked = "checked=\"checked\""/>
<#assign repliesChecked = "checked=\"checked\""/>
<#assign smiliesChecked = ""/>

<#if isNewPost && !preview && !post?exists>
	<#if user.isHtmlEnabled()><#assign htmlChecked = ""/></#if>
	<#if !user.isBbCodeEnabled()><#assign bbChecked = "checked=\"checked\""/></#if>
	<#if !user.isSmiliesEnabled()><#assign smiliesChecked = "checked=\"checked\""/></#if>
	<#if !user.isAttachSignatureEnabled()><#assign signatureChecked = ""/></#if>
<#elseif post?exists>
	<#if post.isHtmlEnabled()><#assign htmlChecked = ""/></#if>
	<#if !post.isBbCodeEnabled()><#assign bbChecked = "checked=\"checked\""/></#if>
	<#if !post.isSmiliesEnabled()><#assign smiliesChecked = "checked=\"checked\""/></#if>
	<#if !post.isSignatureEnabled()><#assign signatureChecked = ""/></#if>
</#if>

<#if !user.isNotifyOnMessagesEnabled()><#assign repliesChecked = ""/></#if>

<form action="${JForumContext.encodeURL("/jforum")}?OWASP_CSRFTOKEN=${OWASP_CSRFTOKEN!""}" method="post" enctype="multipart/form-data" name="post" id="post" onsubmit="return validatePostForm(this)">
<input type="hidden" name="action" value="${action}" />
<input type="hidden" name="module" value="${moduleName}" />
<input type="hidden" name="preview" value="0"/>
<input type="hidden" name="OWASP_CSRFTOKEN" value="${OWASP_CSRFTOKEN!""}" />
<#if forum?exists><input type="hidden" name="forum_id" value="${forum.id}" /></#if>
<input type="hidden" name="start" value="${start?default("")}" />
<#if isEdit><input type="hidden" name="post_id" value="${post.id}" /></#if>
<#if !isNewTopic><input type="hidden" name="topic_id" value="${topic.id}" /></#if>

<table cellspacing="0" cellpadding="10" width="100%" align="center">
	<tr>
		<td class="bodyline">

			<!-- Preview message -->
			<a name="preview"></a>
			<table class="forumline" width="100%" cellspacing="1" cellpadding="4" <#if !preview>style="display: none"</#if> id="previewTable">
				<tr>
					<th class="thhead">${I18n.getMessage("PostForm.preview")}</th>
				</tr>
				<tr>
					<td class="row1">
						<img src="${contextPath}/templates/${templateName}/images/icon_minipost.gif" alt="Post" />
						<span class="postdetails" id="previewSubject"> ${I18n.getMessage("PostForm.subject")}: <#if postPreview?exists>${postPreview.subject?html}</#if></span>
					</td>
				</tr>
				<tr>
					<td class="row1" height="100%">
						<table width="100%" cellspacing="0" cellpadding="0" style="height:100%">
							<tr>
								<td><div id="previewMessage" class="postbody"><#if postPreview?exists>${postPreview.text}</#if></div></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="spacerow"><img src="${contextPath}/templates/${templateName}/images/spacer.gif" alt="" width="1" /></td>
				</tr>
			</table>
			<br clear="all" />

			<table cellspacing="2" cellpadding="2" width="100%" align="center">
				<tr>
					<td align="left">
						<span class="nav">
							<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a>

							<#if forum?exists>
							&raquo; <a class="nav" href="${JForumContext.encodeURL("/forums/show/${forum.id}")}">${forum.name?html}</a>
							</#if>
						</span>
					</td>
				</tr>
			</table>

			<table class="forumline" cellspacing="1" cellpadding="3" width="100%">
				<tr>
					<th class="thhead" colspan="2">
						<b>
						<#if forum?exists>
							<#if (topic?exists && topic.id > -1)>
								<#if isEdit>
									${I18n.getMessage("PostForm.edit")} "${topic.title?html}"
								<#else>
									${I18n.getMessage("PostForm.reply")} "${topic.title?html}"
								</#if>
							<#else>
								${I18n.getMessage("PostForm.title")}
							</#if>
						<#else>
							<#if pmReply?default(false)>
								${I18n.getMessage("PrivateMessage.reply")}
							<#else>
								${I18n.getMessage("PrivateMessage.title")}
							</#if>
						</#if>
						</b>
					</th>
				</tr>

				<#if !forum?exists>
					<tr>
						<td class="row1" width="15%"><span class="gen"><b>${I18n.getMessage("PrivateMessage.user")}</b></span></td>
						<td class="row2" width="85%">
							<#if pmRecipient?exists>
								<#assign toUsername = toUsername/>
								<#assign toUserId = toUserId/>
								<#elseif preview>
								<#assign toUsername = pm.toUser.username/>
								<#assign toUserId = pm.toUser.id/>
								<#elseif quote?default("") == "true" || pmReply?default(false)>
								<#assign toUsername = pm.fromUser.username/>
								<#assign toUserId = pm.fromUser.id/>
							<#else>
								<#assign toUsername = ""/>
								<#assign toUserId = ""/>
							</#if>

							<input type="text" class="post" size="25" name="toUsername" value="${toUsername}"/>&nbsp;
							<input type="button" value="${I18n.getMessage("PrivateMessage.findUser")}" name="findUser" class="liteoption" onclick="openFindUserWindow(); return false;" />
							<input type="hidden" name="toUserId" value="${toUserId}" />
						</td>
					</tr>
				</#if>

				<#if errorMessage?exists>
					<tr>
						<td colspan="2" align="center"><span class="gen"><font color="#ff0000"><b>${errorMessage}</b></font></span></td>
					</tr>
				</#if>

				<tr>
					<td class="row1" width="15%"><span class="gen"><b>${I18n.getMessage("PostForm.subject")}</b></span></td>
					<#assign maxlength_subject = 120/>
					<#if post?exists>
						<#assign subject = post.subject?default("")?html/>						
						<#elseif pmReply?default(false)>
						<#assign subject = pm.post.subject?html/>
						<#elseif topic?exists>
						<#assign subject = I18n.getMessage("Message.replyPrefix") + topic.title?default("")?html/>
						<#assign maxlength_subject = 130/>
					</#if>
					<td class="row2" width="85%">
						<span class="gen">
							<input class="subject" type="text" tabindex="2" maxlength="${maxlength_subject}" name="subject" value="${subject?default("")}" />
						</span>
					</td>
				</tr>

				<tr>
					<!-- Smilies -->
					<td class="row1" valign="top">
						<span class="gen"><b>${I18n.getMessage("PostForm.body")}</b></span>

						<table cellspacing="0" cellpadding="1" align="center">
							<tr>
								<td valign="middle" align="center">
									<br />
									<table cellspacing="0" cellpadding="5" width="100">
										<tr align="center">
											<td class="gensmall" colspan="4"><b>${I18n.getMessage("PostForm.emoticons")}</b></td>
										</tr>

										<#assign count = 0/>
										<#assign lastSmilie = ""/>
											<#list smilies as smilie>
												<#if (count < 20)>
													<#if lastSmilie == "" || lastSmilie.url != smilie.url>
														<#if count % 4 == 0>
															<tr>
														</#if>
														<td><a href="javascript:emoticon('${smilie.code?html}');">${smilie.url}</a></td>
														<#assign count = count + 1/>
														<#if count % 4 == 0>
															</tr>
														</#if>
														<#assign lastSmilie = smilie/>
													</#if>
												</#if>
											</#list>

											<#if !(count % 4 == 0)>
											</#if>
										<tr align="center">
											<td colspan="4">
												<span class="nav"><a href="#" onclick="smiliePopup();return false;">${I18n.getMessage("PostForm.moreSmilies")}</a></span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>

					<!-- BB Codes, textarea -->
					<td class="row2" valign="top">
						<div class="gen">
							<table cellspacing="0" cellpadding="2" width="100%">
								<!-- bb code -->
								<tr valign="middle">
									<td>
										<input class="button" onmouseover="helpline('b')" style="width:30px; font-weight: bold" accesskey="b" onclick="bbstyle(0)" type="button" value=" B " name="addbbcode0" />
										<input class="button" onmouseover="helpline('i')" style="width:30px; font-style: italic" accesskey="i" onclick="bbstyle(2)" type="button" value=" i " name="addbbcode2" />
										<input class="button" onmouseover="helpline('u')" style="width:30px; text-decoration: underline" accesskey="u" onclick="bbstyle(4)" type="button" value=" u " name="addbbcode4" />
										<input class="button" onmouseover="helpline('st')" style="width:50px; text-decoration: line-through" onclick="bbstyle(26)" type="button" value="strike" name="addbbcode26" />
										<input class="button" onmouseover="helpline('t')" style="width:36px" accesskey="t" onclick="bbstyle(24)" type="button" value="tt" name="addbbcode24" />
										<input class="button" onmouseover="helpline('q')" style="width:55px" accesskey="q" onclick="bbstyle(6)" type="button" value="Quote" name="addbbcode6" />
                                        <select id="languageSelect">
                                            <option value="bash">Bash</option>
                                            <option value="css">CSS</option>
                                            <option value="cpp">C++</option>
                                            <option value="csharp">C#</option>
                                            <option value="diff">Diff</option>
                                            <option value="eiffel">Eiffel</option>
                                            <option value="erlang">Erlang</option>
                                            <option value="fortran">Fortran</option>
                                            <option value="go">Go</option>
                                            <option value="groovy">Groovy</option>
                                            <option value="java">Java</option>
                                            <option value="javascript">JavaScript</option>
                                            <option value="json">JSON</option>
                                            <option value="haskell">Haskell</option>
                                            <option value="kotlin">Kotlin</option>
                                            <option value="lisp">Lisp</option>
                                            <option value="lua">Lua</option>
                                            <option value="julia">Julia</option>
                                            <option value="pascal">Pascal</option>
                                            <option value="perl">Perl</option>
                                            <option value="php">PHP</option>
                                            <option value="plain" selected>Plain</option>
                                            <option value="prolog">Prolog</option>
                                            <option value="python">Python</option>
                                            <option value="r">R</option>
                                            <option value="ruby">Ruby</option>
                                            <option value="rust">Rust</option>
                                            <option value="scala">Scala</option>
                                            <option value="smalltalk">Smalltalk</option>
                                            <option value="sql">SQL</option>
                                            <option value="swift">Swift</option>
                                            <option value="vbnet">VB.Net</option>
                                            <option value="markup">XML, HTML etc.</option>
                                        </select>
										<input class="button" onmouseover="helpline('c')" style="width:50px" accesskey="c" onclick="bbstyle(8)" type="button" value="Code" name="addbbcode8" />
										<input class="button" onmouseover="helpline('l')" style="width:40px" accesskey="l" onclick="bbstyle(10)" type="button" value="List" name="addbbcode10" />
										<input class="button" onmouseover="helpline('p')" style="width:40px" accesskey="p" onclick="bbstyle(12)" type="button" value="Img" name="addbbcode12" />
										<input class="button" onmouseover="helpline('w')" style="width:40px" accesskey="w" onclick="bbstyle(14)" type="button" value="URL" name="addbbcode14" />
										<input class="button" onmouseover="helpline('g')" style="width:60px" accesskey="g" onclick="bbstyle(16)" type="button" value="Google" name="addbbcode16" />
										<input class="button" onmouseover="helpline('d')" style="width:80px" accesskey="d" onclick="bbstyle(28)" type="button" value="Wikipedia" name="addbbcode28" />
										<input class="button" onmouseover="helpline('y')" style="width:70px" accesskey="y" onclick="bbstyle(18)" type="button" value="Youtube" name="addbbcode18" />
										<!--
										<input class="button" onmouseover="helpline('k')" style="width:50px" accesskey="k" onclick="bbstyle(20)" type="button" value="Flash" name="addbbcode20" />
										<input class="button" onmouseover="helpline('v')" style="width:50px" accesskey="v" onclick="bbstyle(22)" type="button" value="WMV" name="addbbcode22" />
										-->
										<input class="button" onmouseover="helpline('m')" style="width:50px" accesskey="v" onclick="bbstyle(30)" type="button" value="Vimeo" name="addbbcode30" />
									</td>
								</tr>

								<!-- Color, Fonts -->
								<tr>
									<td>
										<span class="genmed">&nbsp;${I18n.getMessage("PostForm.textColor")}:
										<select onmouseover="helpline('s')" onchange="bbfontstyle('[color=' + this.form.addbbcode32.options[this.form.addbbcode32.selectedIndex].value + ']', '[/color]')" name="addbbcode32">
											<option class="genmed" style="color: black; background-color #fafafa" value="black" selected="selected">${I18n.getMessage("PostForm.colorDefault")}</option>
											<option class="genmed" style="color: darkred; background-color #fafafa" value="darkred">${I18n.getMessage("PostForm.colorDarkRed")}</option>
											<option class="genmed" style="color: red; background-color #fafafa" value="red">${I18n.getMessage("PostForm.colorRed")}</option>
											<option class="genmed" style="color: orange; background-color #fafafa" value="orange">${I18n.getMessage("PostForm.colorOrange")}</option>
											<option class="genmed" style="color: brown; background-color #fafafa" value="brown">${I18n.getMessage("PostForm.colorBrown")}</option>
											<option class="genmed" style="color: yellow; background-color #fafafa" value="yellow">${I18n.getMessage("PostForm.colorYellow")}</option>
											<option class="genmed" style="color: green; background-color #fafafa" value="green">${I18n.getMessage("PostForm.colorGreen")}</option>
											<option class="genmed" style="color: olive; background-color #fafafa" value="olive">${I18n.getMessage("PostForm.colorOlive")}</option>
											<option class="genmed" style="color: cyan; background-color #fafafa" value="cyan">${I18n.getMessage("PostForm.colorCyan")}</option>
											<option class="genmed" style="color: blue; background-color #fafafa" value="blue">${I18n.getMessage("PostForm.colorBlue")}</option>
											<option class="genmed" style="color: darkblue; background-color #fafafa" value="darkblue">${I18n.getMessage("PostForm.colorDarkBlue")}</option>
											<option class="genmed" style="color: violet; background-color #fafafa" value="violet">${I18n.getMessage("PostForm.colorViolet")}</option>
											<option class="genmed" style="color: white; background-color #fafafa" value="white">${I18n.getMessage("PostForm.colorWhite")}</option>
											<option class="genmed" style="color: black; background-color #fafafa" value="black">${I18n.getMessage("PostForm.colorBlack")}</option>
										</select>

										&nbsp;${I18n.getMessage("PostForm.font")}:
										<select onmouseover="helpline('f')" onchange="bbfontstyle('[size=' + this.form.addbbcode34.options[this.form.addbbcode34.selectedIndex].value + ']', '[/size]')" name="addbbcode34">
											<option class="genmed" value="7">${I18n.getMessage("PostForm.fontVerySmall")}</option>
											<option class="genmed" value="9">${I18n.getMessage("PostForm.fontSmall")}</option>
											<option class="genmed" value="12" selected="selected">${I18n.getMessage("PostForm.fontNormal")}</option>
											<option class="genmed" value="18">${I18n.getMessage("PostForm.fontBig")}</option>
											<option class="genmed" value="24">${I18n.getMessage("PostForm.fontGiant")}</option>
										</select>
										</span>
										<span class="gensmall"><a class="genmed" onmouseover="helpline('a')" href="javascript:bbstyle(-1)">${I18n.getMessage("PostForm.closeMarks")}</a></span>
									</td>
								</tr>

								<!-- Help box -->
								<tr>
									<td>
										<input name="helpbox" class="helpline" readonly="readonly" style="font-size: 10px; width:100%" value="${I18n.getMessage("PostForm.helplineTip")}" size="45" />
									</td>
								</tr>

								<!-- Textarea -->
								<tr>
									<td valign="top">
										<textarea class="message" onkeyup="storeCaret(this);" onclick="storeCaret(this);" onselect="storeCaret(this);" tabindex="3" name="message" rows="15" cols="35"><#if post?exists><#if quote?exists>[quote=${quoteUser}]${post.text?html}[/quote]<#else>${post.text?html}</#if></#if></textarea>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>

				<!-- Options -->
				<tr>
					<td class="row1">&nbsp;</td>
					<td class="row2">
						<div id="tabs10">
							<ul>
								<li title="postOptions" class="current"><a href="#" onclick="activateTab('postOptions', this); return false;"><span>${I18n.getMessage("PostForm.options")}</span></a></li>

								<#if allowPoll>
									<li title="postPoll"><a href="#" onclick="activateTab('postPoll', this); return false;"><span>${I18n.getMessage("PostForm.poll")}</span></a></li>
								</#if>
								<#if attachmentsEnabled>
									<li title="postAttachments"><a href="#" onclick="activateTab('postAttachments', this); return false;"><span>${I18n.getMessage("PostForm.attachments")}</span></a></li>
								</#if>
							</ul>
						</div>

						<!-- Post Options -->
						<div id="postOptions" class="postTabContents">
							<#include "post_options_tab.htm"/>
						</div>

						<!-- Poll tab -->
						<#if allowPoll>
							<div id="postPoll" class="postTabContents" style="display: none;">
								<#include "post_poll_tab.htm"/>
							</div>
						</#if>

						<!-- Attachments tab -->
						<#if attachmentsEnabled || attachments?exists>
							<div id="postAttachments" class="postTabContents" style="display: none;">
								<#include "post_attachments_tab.htm"/>
							</div>
						</#if>
					</td>
				</tr>

				<#if needCaptcha?default(false)>
					<tr>
						<td class="row1" valign="middle"><span class="gensmall"><b>${I18n.getMessage("User.captchaResponse")}:</b></span></td>
						<td class="row2">
							<input type="text" class="post" style="width: 100px; font-weight: bold;" maxlength="25" size="25" name="captcha_anwser" onkeyup="enableSubmit(this)"/>
							<img src="${JForumContext.encodeURL("/captcha/generate/${timestamp}")}" align="middle" id="captcha_img" alt="Captcha unavailable" />
							<br />
							<span class="gensmall">${I18n.getMessage("User.hardCaptchaPart1")} <a href="#newCaptcha" onclick="newCaptcha()"><b>${I18n.getMessage("User.hardCaptchaPart2")}</b></a></span>
						</td>
					</tr>
				</#if>

				<#if logModeration>
					<tr>
						<td align="center" class="row1 gen"><b>${I18n.getMessage("ModerationLog.moderationLog")}</b></td>
						<td class="row2 genmed">${I18n.getMessage("ModerationLog.changeReason")} <input type="text" name="log_description" size="50" /><input type="hidden" name="log_type" value="2" /></td>
					</tr>
				</#if>

				<#if error?exists>
					<tr>
						<td class="row1">&nbsp;</td>
						<td class="row2"><span class="gen"><font color="red"><b>${error}</b></font></span></td>
					</tr>
				</#if>

				<tr>
					<td align="center" colspan="2" class="catbottom">
						<input class="mainoption" id="btnPreview" tabindex="5" type="button" value="${I18n.getMessage("PostForm.preview")}" onclick="previewMessage();" />&nbsp;
						<input class="mainoption" id="btnSubmit" accesskey="s" tabindex="6" type="submit" value="${I18n.getMessage("PostForm.submit")}" name="post" />&nbsp;
						<input class="mainoption" id="btnCancel" accesskey="c" tabindex="7" type="button" value="${I18n.getMessage("cancel")}" onclick="cancelOperation()"/>
						<img src="${contextPath}/images/transp.gif" id="icon_saving" alt="" />
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<#if ((topic?exists && topic.id > 0) || pmReply?default(false))>
	<tr>
	<td colspan="2">
		<table cellpadding="3" cellspacing="0" width="100%" class="forumline">
			<tr>
				<th class="cathead" align="center"><b><span class="cattitle">${I18n.getMessage("PostShow.topicReview")}</span></b></th>
			</tr>

			<tr>
				<td class="row1">
					<#if pmReply?default(false)>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/pm/review/${pm.id}")}" ></iframe>
					<#else>
						<iframe width="100%" height="300" frameborder="0" src="${JForumContext.encodeURL("/posts/review/${start}/${topic.id}")}" ></iframe>
					</#if>
				</td>
			</tr>

		</table>
	</td>
	</tr>
	</#if>
</table>
</form>

<script type="text/javascript">
/* <![CDATA[ */
<#if attachments?exists>
	ignoreStart = true;
	editAttachments();
</#if>

<#if preview>document.location = "#preview";</#if>
/* ]]> */
</script>

<#include "highlighter_js.htm"/>
<#include "bottom.htm"/>
